@model ProductListViewModel

<div class="row">
    <div class="col-6">
        <input type="text" placeholder="Search here..." id="form1" class="form-control m-1 float-end" style="width:50%;" />
    </div>
</div>

<a class="btn btn-xs btn btn-outline-dark" href="/product/SortWithLetter?hasSortClicked=@Model.hasSortClicked&page=@Model.CurrentPage&category=@Model.CurrentCategory">
    @if (Model.hasSortClicked)
    {
        <div>
            A-Z
        </div>
    }
    else
    {
        <div>
            Z-A

        </div>
    }
</a>
<a class="btn btn-xs btn btn-outline-dark" href="/product/SortForPrice?hasPriceSortClicked=@Model.hasPriceSortClicked&page=@Model.CurrentPage&category=@Model.CurrentCategory">

    @if (Model.hasPriceSortClicked)
    {
        <div>
            Lower To Higher
        </div>
    }
    else
    {
        <div>
            Higher To Lower
        </div>
    }
</a>

<table class="table">
    <thead>
        <tr>
            <th> ProductName</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="mytable">
        @foreach (var item in Model.Products)
        {
            <tr>
                <td id="name">
                    @item.ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    @item.UnitsInStock
                </td>
                <td>
                    <a class="btn btn-xs btn-success"
                       href="/Cart/AddToCart?productId=@item.ProductId&page=@Model.CurrentPage&category=@Model.CurrentCategory">Add To Cart</a>

                    @if (item.HasAdded)
                    {
                        <a id="remove" class="btn btn-xs btn-danger" href="/Cart/RemoveDirectly?productId=@item.ProductId">Remove from Cart</a>
                    }
                    else if (!item.HasAdded)
                    {
                        <a></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="/js/CustomJs.js"></script>
}

<product-list-pager current-category="@Model.CurrentCategory"
                    current-page="@Model.CurrentPage"
                    page-count="@Model.PageCount"
                    page-size="@Model.PageSize">
</product-list-pager>